body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}
#external {
    color:purple;
    font-weight: bold;
    border: 2px solid purple;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}